.footer {
  position: absolute;
  right: 0;
  bottom: 10;
  left: 0;
  padding: 4rem;
  background-color: #242424;
  text-align: center;
  color: White;
}
h1,p {
  font-family: 'Sen', sans-serif;
  font-weight: bold;
}
.ft:hover {
  background-color: grey;
}
.ft {
  text-align: center;
}
